streamlit
faiss-cpu
numpy
pandas
torch
transformers
sentence-transformers
Pillow
PyPDF2
rank_bm25
langchain
google-generativeai
openpyxl        
protobuf        
xlrd            
python-multipart 
requests        
