streamlit
faiss-cpu
numpy
pandas
torch
transformers
sentence-transformers
Pillow
PyPDF2
rank_bm25
langchain
google-generativeai
openpyxl        
protobuf        
xlrd            
python-multipart 
requests        
streamlit
langchain
langchain-community
langchain-core
sentence-transformers
faiss-cpu
transformers
torch
pandas
numpy
Pillow
PyPDF2
rank-bm25
google-generativeai
